<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create</title>
</head>

<style>
    .body-container{
        margin: 0 auto;
        width: 900px;
    }

    h4 {
        margin: 10px 0px;
    }

    button{
        width: 100px;
        height: 40px;
        margin: 20px 0px;
    }

    .flex{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
<body>
    <div class="body-container">
        <div class="flex">
            <h1>Edit User</h1>
            <a href="/">Home</a>
        </div>
        <form action="/users/{{ user.id }}/update/" method="post">
            <h4>First Name: </h4>
            <input class="form-control" name="first_name" type="text" placeholder="{{ user.first_name }}">

            <h4>Last Name: </h4>
            <input class="form-control" name="last_name" type="text" placeholder="{{ user.last_name }}">

            <h4>Email: </h4>
            <input type="email" class="form-control " name="email" placeholder="{{ user.first_name}}@{{ user.last_name}}.com">

            <button type="submit">Update</button>
            <a href="/users/{{ user.id }}/">Show User</a>
        </form>


    </div>
</body>
</html>